# RabbitMQ
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASS=guest
RABBIT_VHOST=/dev

TRANSLATION_EXCHANGE=translation.exchange
TRANSLATION_RESPONSE_QUEUE=translation.response.queue
TRANSLATION_RESPONSE_KEY=translation.response
TRANSLATION_REQUEST_QUEUE=translation.request.queue
TRANSLATION_REQUEST_KEY=translation.request

# Ollama
OLLAMA_ENDPOINT=http://ollama:11434
OLLAMA_MODEL=translategemma:4b
OLLAMA_TIMEOUT=300